@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap");
@font-face {
  font-family: "Marvin Visions";
  src: url(./fonts/marvin/MarvinVisionsBig-Bold.woff), url(./fonts/marvin/MarvinVisionsBig-Bold.woff2),
    url(./fonts/marvin/MarvinVisionsBig-Bold.eot);
  font-weight: normal;
}
